# NASA EarthData credentials (https://urs.earthdata.nasa.gov)
EARTHDATA_USERNAME=
EARTHDATA_PASSWORD=

# Output directory for combined yearly NetCDF files
OUTPUT_DIR=./data_pipeline/output_tech_data

# Raw download directory
RAW_DIR=./data_pipeline/raw_data
